.library {
  width: 20rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightcyan;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.541);
  overflow: scroll;
  h2 {
    padding: 1rem 2rem;
  }
}

.library-song {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;

  img {
    width: 30%;
  }
  &:hover {
    background-color: rgba(118, 180, 241, 0.479);
    cursor: pointer;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgba(22, 208, 255, 0.404);
}
